<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pe-3">
      <div class="input-group flex-nowrap mb-3">
        <div class="input-group-text" id="addon-wrapping">Filtro:</div>
        <input
          type="text"
          class="form-control"
          placeholder="Filtrar por Tema e Local"
          [(ngModel)]="filtroLista"
        />
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ms-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>

  <div>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th class="d-none d-md-table-cell">
            <button
              class="btn btn btn-outline-light btn-sm me-2"
              (click)="AlterImg()">
              <i class="{{ showImg ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
              {{ showImg ? "Exibir" : "Ocultar" }}
            </button>
          </th>
          <th>#</th>
          <th>Tema</th>
          <th class="d-none d-md-table-cell">Local</th>
          <th class="d-none d-md-table-cell">QtdPessoas</th>
          <th>DataEvento</th>
          <th class="d-none d-md-table-cell">Lotes</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="eventos && eventos.length">
        <tr
          *ngFor="let evento of eventosfiltrados"
          (click)="detalheEvento(evento.id)"
          style="cursor: pointer"
        >
          <td class="d-none d-md-table-cell">
            <img
              [collapse]="showImg"
              [isAnimated]="true"
              class=""
              src="/assets/{{ evento.foto }}"
              [style.width.px]="widthImg"
            />
          </td>
          <td>{{ evento.id }}</td>
          <td>{{ evento.tema }}</td>
          <td class="d-none d-md-table-cell">{{ evento.local }}</td>
          <td class="d-none d-md-table-cell">{{ evento.qtdPessoas }}</td>
          <td>{{ evento.dataEvento | DateFormatPipe }}</td>
          <td class="d-none d-md-table-cell">{{ evento.lotes[0].nome }}</td>
          <td>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-danger btn-lg"
                tooltip="Excluir"
                (click)="openModal(template)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!eventos.length">
        <tr>
          <td colspan="8" class="text-center">
            <h4>Nenhum Evento Encontrado</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Você deseja deletar o evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
