<app-titulo [titulo]='"Eventos"'></app-titulo>
<div class="row row-cols-lg-auto g-3 align-items-center" action="">
  <label class="me-2">Filtro:</label>
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="buscar"
        [(ngModel)]="filtroLista"
      />
    </div>
  </div>
</div>
<hr />
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm me-2" (click)="AlterImg()">
        <i class="{{ showImg ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
        {{ showImg ? "Exibir" : "Ocultar" }}
        </button>
        <button type="button" class="btn btn-success btn-sm" tooltip="Adicionar Evento">
          <i class="fa fa-plus"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>QtdPessoas</th>
      <th>DataEvento</th>
      <th>Lotes</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosfiltrados">
      <td>
        <img
          [collapse]="showImg"
          [isAnimated]="true"
          class=""
          src="/assets/{{evento.foto}}"
          [style.width.px]="widthImg"
        />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.dataEvento| DateFormatPipe}}</td>
      <td>{{ evento.lotes[0].nome }}</td>
      <td>
        <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm"tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Você deseja deletar o evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
